.home-container {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background-color: #eef0f2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-header {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-item-title {
    font-size: 2rem;
    font-weight: 600;
}

.detailed-overview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.overview-item {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.overview-item-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.overview-item-title-text {
    font-size: 1.4rem;
    color: #5d6679;
}

.overview-item-title-subtext {
    font-size: 1.6rem;
    font-weight: 500;
}

.overview-item-value {
    font-size: 2.6rem;
    font-weight: 600;
    color: #1366d9;
}

.lg-font-size {
    font-size: 4rem;
}

.home-body {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.home-body-left {
    min-width: 280px;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-locaton-top-one {
    display: flex;
    gap: 10px;
}

.locaton-top-one-img-container {
    position: relative;
    padding: 10px 20px;
}

.locaton-top-one-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid #eef0f2;
}

.locaton-top-one-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: #203c84;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.locaton-top-one-detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
}

.home-body-right {
    flex-grow: 1;
}

.home-locaton-top-table {
    margin-top: 10px;
}

.home-locaton-top-table.page-table td:nth-child(2),
.home-locaton-top-table.page-table th:nth-child(2) {
    text-align: center;
}

.home-body-right-item {
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
}

.home-body-right-table.page-table tbody td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 110px;
}
