@import './base.css';

.page-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
}

.page-table th,
.page-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
}

.page-table th {
    background-color: #e7efff;
    font-weight: 600;
    font-size: 1.4rem;
}

.page-table td {
    font-size: 1.4rem;
}

.page-table tbody tr {
    height: 50px;
}
