.modal-client-detail-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-client-footer-buttons {
    display: flex;
    justify-content: center;
}

.modal-client-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-client-bill-table {
    flex: 1;
    min-height: 330px;
}

.modal-client-travel-point-table {
    flex: 1;
    min-height: 330px;
}

.modal-client-travel-route-detail-table {
    flex: 1;
    min-height: 295px;
}

.modal-client-add-voucher {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-client-add-voucher-footer-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
