.client-page {
    padding: 5px 10px 20px 10px;
    height: calc(100vh - var(--main-header-height));
    display: flex;
    flex-direction: column;
}

.client-page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.client-page__filters {
    display: flex;
    gap: 10px;
}

.client-page__content {
    flex: 1;
    min-height: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.modal-user-detail-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modal-client-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-client-bill-table {
    flex: 1;
    min-height: 330px;
}

.modal-client-travel-point-table {
    flex: 1;
    min-height: 330px;
}
