/* RentalVehicle Modal */
.page-table.vehicle-registration-table td:nth-child(7),
.page-table.vehicle-registration-table th:nth-child(7) {
    text-align: center;
}

.page-table.vehicle-registration-table tbody td {
    max-width: 120px;
}

.vehicle-type-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 350px;
}

.vehicle-type-modal__footer {
    padding: 10px 0;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.vehicle-type-modal__btns {
    display: flex;
    gap: 15px;
}

